.mainbackground {
  background-image: url('images/fortnite guy.jpg');
}
.cockbackground {
background-image: url('images/rooster-Rhode-Island-Red-roosters-chicken-domestication.jpg');
  background-size: 100%;
}
